html {
    font-family: 'Raleway', sans-serif;
}           

.heading::before {
    display: block;
    position: relative;
    content: '';
    bottom: 0;
    bottom: 0;
    width: 3.25rem;                
    margin-bottom: 1rem;
    border-bottom: solid 4px;
    border-color: #E53E3E;
}

.about-wbm  {
    background-image: url(../img/layout/wbm-watermark.svg);
}

.webp .about-wbm .journals {
    background-image: url(../img/layout/journal-stack-compressed.webp);
}
.no-webp .about-wbm .journals {
    background-image: url(../img/layout/journal-stack-compressed.jpg);
}

.journal-card p {
  @apply mt-4
}

.webp .hsm .header {
    background-image: url(../img/journals/hsm-bg-compressed.webp);
}

.no-webp .hsm .header {
    background-image: url(../img/journals/hsm-bg-compressed.jpg);
}

.hsm .heading::before {
    border-color: #E98A15;
}

.hsm a {
    background-color: #E98A15; 
}

.webp .fsm .header {
    background-image: url(../img/journals/fsm-bg-compressed.webp);
}

.no-webp .fsm .header {
    background-image: url(../img/journals/fsm-bg-compressed.jpg);
}

.fsm .heading::before {
    border-color: #ed1b2f;
}

.fsm a {
    background-color: #ed1b2f; 
}

.webp .cda .header {
    background-image: url(../img/journals/cda-bg-compressed.webp);
}

.no-webp .cda .header {
    background-image: url(../img/journals/cda-bg-compressed.jpg);
}

.cda .heading::before {
    border-color: #0380bd;
}

.cda a {
    background-color: #0380bd; 
}

.webp .ipe .header {
    background-image: url(../img/journals/ipe-bg-compressed.webp);
}

.no-webp .ipe .header {
    background-image: url(../img/journals/ipe-bg-compressed.jpg);
}

.ipe .heading::before {
    border-color: #b90b12;
}

.ipe a {
    background-color: #b90b12; 
}

.webp .hss .header {
    background-image: url(../img/journals/hss-bg-compressed.webp);
}

.no-webp .hss .header {
    background-image: url(../img/journals/hss-bg-compressed.jpg);
}

.hss .heading::before {
    border-color: #db1921;
}

.hss a {
    background-color: #db1921; 
}

.webp .cm .header {
    background-image: url(../img/journals/cm-bg-compressed.webp);
}

.no-webp .cm .header {
    background-image: url(../img/journals/cm-bg-compressed.jpg);
}

.cm .heading::before {
    border-color: #939192;
}

.cm a {
    background-color: #939192;
}

.webp .fm .header {
    background-image: url(../img/journals/fm-bg-compressed.webp);
}

.no-webp .fm .header {
    background-image: url(../img/journals/fm-bg-compressed.jpg);
}

.fm .heading::before {
    border-color: #1799d9;
}

.fm a {
    background-color: #1799d9;
}

.webp .sm .header {
    background-image: url(../img/journals/sm-bg-compressed.webp);
}

.no-webp .sm .header {
    background-image: url(../img/journals/sm-bg-compressed.jpg);
}

.sm .heading::before {
    border-color: #0d4e97;
}

.sm a {
    background-color: #0d4e97;
}

.webp .mmi .header {
    background-image: url(../img/journals/mmi-bg-compressed.webp);
}

.no-webp .mmi .header {
    background-image: url(../img/journals/mmi-bg-compressed.jpg);
}

.mmi .heading::before {
    border-color: #008739;
}

.mmi a {
    background-color: #008739;
}

.webp .she-awards > div > div:nth-of-type(1) {
    background-image: url(../img/journals/she-bg-compressed.webp);
}
.no-webp .she-awards > div > div:nth-of-type(1) {
    background-image: url(../img/journals/she-bg-compressed.jpg);
}

.she-awards .heading::before {
    border-color: #ffc20e;
}

.she-awards a {
    background-color: #ffc20e; 
}

.testimonials {
    background-image: url(../img/layout/conversation.svg);
}

footer .container  {
    background-image: url(../img/layout/wbm-watermark.svg);
}