/*! purgecss start ignore */
:root {
    --cm: #0094D8;
    --cda: #0380bd;
    --fm: #1799d9;
    --fsm: #ed1b2f;
    --hsm: #E98A15;
    --hss: #db1921;
    --ipe: #b90b12;
    --sm: #0d4e97;
    --tomorrows-warehouse: #d2232a;
    --cleaning-excellence-awards: #0088ce;
    --she-awards: #ffc20e;
    --fsm-awards: #ed1b2f;
    --primary-highlight: #E53E3E;
}

html {
    font-family: 'Raleway', sans-serif;
}           

.border-dev {
    @apply border border-solid border-teal-500 
}

.fade {
    @apply opacity-100 transition duration-500 ease-in-out
}

.heading::before {
    display: block;
    position: relative;
    content: '';
    bottom: 0;
    bottom: 0;
    width: 3.25rem;                
    margin-bottom: 1rem;
    border-bottom: solid 4px;
    border-color: var(--primary-highlight);
}

.about-wbm  {
    background-image: url(../img/layout/wbm-watermark.svg);
}

.webp .about-wbm .journals {
    background-image: url(../img/layout/journal-stack-compressed.webp);
}
.no-webp .about-wbm .journals {
    background-image: url(../img/layout/journal-stack-compressed.jpg);
}

.journal-card p {
  @apply mt-4
}

.event {
    @apply h-48 px-6 relative flex justify-center items-center rounded-lg cursor-pointer bg-center bg-cover
}

.event .event-logo {
    @apply w-full
}

.event .event-description {
    @apply hidden bg-no-repeat bg-right bg-contain
}

.event .event-description h2 {
    @apply pb-4 text-white text-lg font-bold leading-tight subpixel-antialiased tracking-normal uppercase tracking-tight
}

.event .cta-button {
    @apply inline-flex justify-center items-center px-6 py-3 text-white font-semibold rounded-md uppercase
}

.webp .hsm .header {
    background-image: url(../img/journals/hsm-bg-compressed.webp);
}

.no-webp .hsm .header {
    background-image: url(../img/journals/hsm-bg-compressed.jpg);
}

.hsm .heading::before {
    border-color: var(--hsm);
}

.hsm a {
    background-color: var(--hsm); 
}

.webp .fsm .header {
    background-image: url(../img/journals/fsm-bg-compressed.webp);
}

.no-webp .fsm .header {
    background-image: url(../img/journals/fsm-bg-compressed.jpg);
}

.fsm .heading::before {
    border-color: var(--fsm);
}

.fsm a {
    background-color: var(--fsm); 
}

.webp .cda .header {
    background-image: url(../img/journals/cda-bg-compressed.webp);
}

.no-webp .cda .header {
    background-image: url(../img/journals/cda-bg-compressed.jpg);
}

.cda .heading::before {
    border-color: var(--cda);
}

.cda a {
    background-color: var(--cda); 
}

.webp .ipe .header {
    background-image: url(../img/journals/ipe-bg-compressed.webp);
}

.no-webp .ipe .header {
    background-image: url(../img/journals/ipe-bg-compressed.jpg);
}

.ipe .heading::before {
    border-color: var(--ipe);
}

.ipe a {
    background-color: var(--ipe); 
}

.webp .lm .header {
    background-image: url(../img/journals/hss-bg-compressed.webp);
}

.no-webp .lm .header {
    background-image: url(../img/journals/hss-bg-compressed.jpg);
}

.lm .heading::before {
    border-color: var(--hss);
}

.lm a {
    background-color: var(--hss); 
}

.webp .cm .header {
    background-image: url(../img/journals/cm-bg-compressed.webp);
}

.no-webp .cm .header {
    background-image: url(../img/journals/cm-bg-compressed.jpg);
}

.cm .heading::before {
    border-color: var(--cm);
}

.cm a {
    background-color: var(--cm);
}

.webp .fm .header {
    background-image: url(../img/journals/fm-bg-compressed.webp);
}

.no-webp .fm .header {
    background-image: url(../img/journals/fm-bg-compressed.jpg);
}

.fm .heading::before {
    border-color: var(--fm);
}

.fm a {
    background-color: var(--fm);
}

.webp .sm .header {
    background-image: url(../img/journals/sm-bg-compressed.webp);
}

.no-webp .sm .header {
    background-image: url(../img/journals/sm-bg-compressed.jpg);
}

.sm .heading::before {
    border-color: var(--sm);
}

.sm a {
    background-color: var(--sm);
}

.webp .she-awards {
    background-image: url(../img/events/she-awards-bg-compressed.webp);
}
.no-webp .she-awards {
    background-image: url(../img/events/she-awards-bg-compressed.jpg);
}

.she-awards .heading::before {
     border-color: var(--she-awards);
}

.she-awards .cta-button {
    background-color: var(--she-awards); 
}

.she-awards .event-description {
    background-image: url(../img/events/she-awards-watermark-compressed.svg);
}

.webp .fsm-awards {
    background-image: url(../img/events/fsm-awards-bg-compressed.webp);
}
.no-webp .fsm-awards {
    background-image: url(../img/events/fsm-awards-bg-compressed.jpg);
}

.fsm-awards .event-description {
    background-image: url(../img/events/fsm-awards-watermark-compressed.svg);
}

.fsm-awards .heading::before {
     border-color: var(--fsm);
}

.fsm-awards .cta-button {
    background-color: var(--fsm); 
}

.webp .tomorrows-warehouse {
    background-image: url(../img/events/tomorrows-warehouse-bg-compressed.webp);
}
.no-webp .tomorrows-warehouse {
    background-image: url(../img/events/tomorrows-warehouse-bg-compressed.jpg);
}

.tomorrows-warehouse .heading::before {
    border-color: var(--tomorrows-warehouse);
}

.tomorrows-warehouse .event-description {
    background-image: url(../img/events/tomorrows-warehouse-watermark-compressed.svg);
}

.tomorrows-warehouse .cta-button {
    background-color: var(--tomorrows-warehouse); 
}

.webp .cleaning-excellence-awards {
    background-image: url(../img/events/cleaning-excellence-awards-bg-compressed.webp);
}

.no-webp .cleaning-excellence-awards {
    background-image: url(../img/events/cleaning-excellence-awards-bg-compressed.jpg);
}

.cleaning-excellence-awards .event-logo img {
    @apply h-32
}

.cleaning-excellence-awards .event-description {
    background-image: url(../img/events/cleaning-excellence-awards-watermark-compressed.svg);
}

.cleaning-excellence-awards .heading::before {
    border-color: var(--cleaning-excellence-awards);
}

.cleaning-excellence-awards .cta-button {
    background-color: var(--cleaning-excellence-awards); 
}

.testimonials {
    background-image: url(../img/layout/conversation.svg);
}

#tabs-nav {
    a {
        @apply inline-block w-full px-3 py-4 text-center text-sm font-extrabold uppercase leading-tight bg-gray-300 text-gray-800
    }

    .active a {
        background-color: var(--primary-highlight);
        @apply text-white        
    }
}


#tabs-content {
    h2, h4 {
        @apply pb-4 text-gray-900 font-bold leading-tight subpixel-antialiased tracking-normal uppercase tracking-tight
    }

    h2 {
        @apply text-xl
    }

    h4 {
        @apply text-base
    }

    section {
        @apply mb-8
    }

    p {
        @apply mb-2
    }

    ol, ul {
        @apply ml-6
    }

    ol {
        @apply list-decimal
    }

    ul {
        @apply list-disc
    }

    ol[type=a]
    {
        list-style-type: revert-layer;
    }

    li {
        @apply py-1
    }
}

footer .container  {
    background-image: url(../img/layout/wbm-watermark.svg);
}

/*@screen md {
    #tabs-nav a {
        @apply text-lg
    }
}*/

@screen lg {
    .event {
        @apply h-88
    }

    .event:hover .event-logo {
        @apply opacity-0 
    }

   .event .event-description {
        @apply opacity-0 absolute z-50 h-88 p-8 flex text-white leading-relaxed bg-gray-800 rounded-lg overflow-hidden
    }

    .event:hover .event-description {
        @apply opacity-100
    }

    .event .event-description h2 {
        @apply text-xl
    }

    .cleaning-excellence-awards .event-logo img {
        @apply h-48
    }

    #tabs-nav a {
        @apply text-lg
    }

    #tabs-content h2 {
        @apply text-2xl 
    }
}

@screen xl {
    .event .event-logo {
        @apply w-4/5
    }
}
/*! purgecss end ignore */


