/*! purgecss start ignore */
.swiper-button-prev,
.swiper-button-next {
  top: 32%;
  @apply absolute w-18 h-18 rounded-full z-20 cursor-pointer flex items-center justify-center bg-gray-200 text-gray-800

}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  /*font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;*/

  @apply text-3xl font-bold
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -35px;
  right: auto;
  @apply pl-4
}

/*.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "prev";
}*/

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -35px;
  left: auto;
  @apply pr-4
}
/*! purgecss end ignore */